html {
  background-color: #0e0e0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0e0e0f;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid #252525;
}

.container-profile {
  display: block;
}

.user-details {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.user-details h1 {
  font-size: 23px;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 15px;
  color: #eaeaea;

}

.user-icon {
  margin-top: 7px;
}

.profile-info {
  display: flex;
  align-items: center;
  color: #eaeaea;
}

.profile-picture-container {
  position: relative;
}

.profile-info img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 5px;
  border: 1px solid #5a5a5a;
}

#change-picture-btn {
  position: absolute;
  bottom: 5px;
  right: 20px;
  background-color: #00c55f;
  color: #ffffff;
  border: 1px solid #008d44;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.user-stats {
  list-style: none;
  display: flex;
}

.user-stats li {
  margin-right: 20px;
  font-size: 16px;
}


.description-container {
  display: block;
  
}
 
.user-description {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
}


