html {
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.header-xp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
}

.container-xp {
  position: relative;
  width: 100%;
  max-width: 380px;
  margin-top: 20px;
  margin: 20px 10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icons ion-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icons a {
  text-decoration: none;
  color: black;
}

.profile-header {
  background: linear-gradient(
    135deg,
    rgb(76, 195, 130) 10%,
    hsla(128, 91%, 30%, 1) 100%
  );
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.profile-header .name {
  font-size: 1.5em;
  font-weight: bold;
}

.profile-header .level-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-header .level {
  font-size: 1em;
  margin-bottom: 5px;
  margin-right: 9px;
}

.profile-header .level-bar {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 67px;
  height: 12px;
  margin-left: 10px;
  position: relative;
}

.profile-header .level-bar span {
  display: block;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgb(48, 169, 103) 10%,
    hsla(128, 91%, 30%, 1) 100%
  );
  width: 20%; /* Adjust width to reflect XP */
  border-radius: 10px;
}

.profile-header .xp {
  margin-top: 5px;
  font-size: 0.9em;
}
